<div class="row">
  <div class="col-sm-3">
    <div class="row">
      <app-columna-izquierda ></app-columna-izquierda>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="row">
      <app-cabecera></app-cabecera>
    </div>
    <div class="row"><p></p></div>
    <div class="row"><p></p></div>
    <div class="row"><p></p></div>
    <div class="row"><p></p></div>
    <div class="row">
      <div class="col-sm-3">
        <img [src]="urlTodoBien">
      </div>
      <div class="col-sm-9">
        <app-estado></app-estado>
      </div>

    </div>

    <div class="row"><p></p></div>
    <div class="row"><p></p></div>
    <div class="row"><p></p></div>
    <div class="row"><p></p></div>
    <div class="row"><p></p></div>
    <div class="row"><p></p></div>
    <div class="row"><p></p></div>
    <div class="row"><p></p></div>
    <div class="row"><p>
      <app-rede-social></app-rede-social>
    </p></div>
  </div>



</div>
