<div class="sa-fondo">
  <div class="col-sm-12 ">
    <img [src]="urlImagenUno">
    <div class="centerbtn sa-fondo">
      <button>{{nombreBotonUno}}</button>
    </div>

  </div>
  <div class="col-sm-12 ">
    <img [src]="urlImagenDos" width="280" height="280">
    <div class="centerbtn sa-fondo">
      <button>{{nombreBotonDos}}</button>
    </div>

  </div>
  <p></p>
  <p></p>
  <div class="col-sm-12 ">
    <img [src]="urlImagenTres" width="240" height="240">
    <div class="centerbtn sa-fondo">
      <button>{{nombreBotonTre}}</button>
    </div>

  </div>
  <p></p>





</div>
